<!DOCTYPE html>

<!DOCTYPE html>

{% load staticfiles %}
  <html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>Quiz Game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap Core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/game.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  </head>
    <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h1 class="text-center">Quiz Game</h1>
          <div class="mainArea col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    </div>
        <script src="{% static 'js/game.js' %}"></script>
    </body>
  </html>
