<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>INFO</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>

  <div class="container-fluid">
    <div class="headers">
			<h2 class="title h1"><a class="navbar-brand" href="{% url 'index' %}">Simple is the best</a></h2>
			<p class="text-center text-muted h5">Online notebook of <a href="{% url 'home' %}">&BK</a></p>
    </div>
			{% block content %}
      <div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card panel">
						<div class="card-block block-1">
							<h3 class="sec_title">CTF</h3>
              {% for report in reports %}
              <div class="row1">
							<p>
                <a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a>
              </p>
              </div>
              {% endfor %}
						</div>
					</div>
				</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card panel">
						<div class="card-block block-2">
							<h3 class="sec_title">Experiment</h3>
							  {% for exp in exps %}
              <div class="row1">
                <p>
                  <a href="{% url 'exp_detail' pk=exp.pk %}">{{ exp.title }}</a>
                </p>
              </div>
              {% endfor %}
						</div>
					</div>
				</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card panel">
						<div class="card-block block-3">
							<h3 class="sec-title">Quotes of Day</h3>
							  <p>
                  The truth is rarely pure and never simple.
                </p>
						</div>
					</div>
          <div class="card panel">
						<div class="card-block block-3">
							<h3 class="sec-title">追加</h3>
							  <p>
                  追加
                </p>
						</div>
					</div>
				</div>
      </div>
      {% endblock %}
  </div>



     <!-- Bootstrap core JavaScript -->
     <script src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <!-- Plugin JavaScript -->
     <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
     <!-- Custom scripts for this template -->
     <script src="js/resume.min.js"></script>
   </body>

 </html>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
