{% extends 'blog/index.html' %}
{% block content %}
    <div class="container-fluid">
      <div class="col-md-2 col-sm-3 postpanel1">
        {% for post in posts %}
          <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
          <br />
        {% endfor %}
      </div>
      <div class="col-md-2 col-sm-3 postpanel2">
        <h1>{{ post.title }}</a></h1>
        <div class="date">
            {{ post.created_date}}
        </div>
      </div>
      <div class="col-md-8 col-sm-6 postpanel3">
        <p>{{ post.text|safe }}</p>
      </div>
    </div>
{% endblock %}
