h4{
  font-size:30px;
  color:#F08080;
}
body{
  background-color: rgb(0, 30, 40);
}
.threepanel{
    margin-top: 90px;
}
.three{
    padding: 15px;
    background-color:rgb(0, 45, 55);
    color:rgba(255, 255, 255, 0.62);
    height:500px;
}
